<div class="layout">

    <aside class="sidebar">
        <h3>Dashboard</h3>

        <a routerLink="/orders" routerLinkActive="active">Ordenes</a>
        <a routerLink="/sellers" routerLinkActive="active">Vendedores</a>
        <a routerLink="/products" routerLinkActive="active">Productos</a>
        <a routerLink="/supplies" routerLinkActive="active">Suministros</a>
        <a routerLink="/kardex" routerLinkActive="active">Kardex</a>
    </aside>

    <main class="content">
        <router-outlet></router-outlet>
    </main>

</div>